In [1]:
d1={"name":"aswini","rollno":47,"subject":"datascience","course":"bds"}
d1

{'name': 'aswini', 'rollno': 47, 'subject': 'datascience', 'course': 'bds'}

In [2]:
type(d1)

dict

In [3]:
d1["rollno"]

47

In [4]:
d1["course"]="ads"

In [5]:
d1

{'name': 'aswini', 'rollno': 47, 'subject': 'datascience', 'course': 'ads'}

In [6]:
d1.keys()

dict_keys(['name', 'rollno', 'subject', 'course'])

In [9]:
d1.values()

dict_values(['aswini', 47, 'datascience', 'ads'])

In [10]:
list(d1.values())

['aswini', 47, 'datascience', 'ads']

In [11]:
len(d1)

4

In [14]:
items=list(d1.items())

In [15]:
items

[('name', 'aswini'),
 ('rollno', 47),
 ('subject', 'datascience'),
 ('course', 'ads')]

In [16]:
d1["joining_date"]="24July"

In [17]:
d1

{'name': 'aswini',
 'rollno': 47,
 'subject': 'datascience',
 'course': 'ads',
 'joining_date': '24July'}

In [19]:
remove=d1.pop("rollno")
print(remove)
print(d1)

47
{'name': 'aswini', 'subject': 'datascience', 'course': 'ads', 'joining_date': '24July'}

In [20]:
d1.popitem()

('joining_date', '24July')

In [21]:
d1

{'name': 'aswini', 'subject': 'datascience', 'course': 'ads'}

In [22]:
del d1["name"]

In [23]:
d1

{'subject': 'datascience', 'course': 'ads'}

In [24]:
d1.clear()

In [25]:
d1

{}

In [27]:
d1={"name":"aswini","roll_no":47,"subject":"datascience","course":"bds","joining_date":"24 July"}
d1

{'name': 'aswini',
 'roll_no': 47,
 'subject': 'datascience',
 'course': 'bds',
 'joining_date': '24 July'}

In [29]:
a1=d1.copy()
a1

{'name': 'aswini',
 'roll_no': 47,
 'subject': 'datascience',
 'course': 'bds',
 'joining_date': '24 July'}

In [3]:
a1={"student1":{"name":"aswini","roll_no":47,"subject":"datascience","course":"bds","joining_date":"24 July"},
    "student2":{"name":"rohan","roll_no":23,"subject":"datascience","course":"ads","joining_date":"24 July"}}

In [4]:
a1

{'student1': {'name': 'aswini',
  'roll_no': 47,
  'subject': 'datascience',
  'course': 'bds',
  'joining_date': '24 July'},
 'student2': {'name': 'rohan',
  'roll_no': 23,
  'subject': 'datascience',
  'course': 'ads',
  'joining_date': '24 July'}}

In [5]:
a1["student1"]["name"]

'aswini'

In [6]:
a1["student2"]["joining_date"]

'24 July'

In [7]:
a1["student2"]["subject"]

'datascience'

### Task-5

In [11]:
dict1 = { "april_batch":{ "student":{ "name":"Mike","marks":{"python":80,"maths":70}}}}

From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks

In [13]:
dict1["april_batch"]["student"]["name"]

'Mike'

In [20]:
dict1["april_batch"]["student"]["marks"]["python"]

80

In [26]:
dict1["april_batch"]["student"]["name"]="aswini"
dict1["april_batch"]["student"]["marks"]["Ml"]=80
dict1["april_batch"]["student"]["marks"]["DL"]=80
dict1

{'april_batch': {'student': {'name': 'aswini',
   'marks': {'python': 80,
    'maths': 70,
    'ml': 80,
    'dl': 80,
    ('ml', 'dl'): 80,
    'Ml': 80,
    'DL': 80}}}}