In [1]:
fruit1="Apple"
fruit2="Orange"

In [3]:
print("i have two fruits, one is {} and other one is {}".format(fruit1,fruit2))

i have two fruits, one is Apple and other one is Orange

In [4]:
print('i have two fruits ,one is {1} and other one is {0}'.format(fruit1,fruit2))

i have two fruits ,one is Orange and other one is Apple

In [8]:
"""
trying comments
"""
print("hello")

hello

In [10]:
#using input function to ask the user
num1=input("Enter a number: ")
num2=input("Enter a number: ")
#checking both data types
print("the data type of num1 is {} and data type of num2 is {} ".format(type(num1),type(num2)))

Enter a number: 4
Enter a number: 5
the data type of num1 is <class 'str'> and data type of num2 is <class 'str'>

In [11]:
#adding both after converting them into integers
num3=int(num1)+int(num2)
print(num3)

9

### Task 1

In [12]:
# task 1) go through some of the other in built functions

# task 2) 
# given a string for example
str1 = "Welcome to python"

# check if "to" is present in "welcome to python"

In [17]:
if "to" in str1:
    print("Substring", "to" ,"is present")

Substring to is present

### Lists

#### 1).append

In [88]:
k1=[12,34,56,78]

In [20]:
k1.append("Python")

In [21]:
k1

[12, 34, 56, 78, 'Python']

#### 2)insert

In [90]:
k1.insert(3,"ml")

In [91]:
k1

[12, 34, 56, 'ml', 78]

In [94]:
k1.insert(7,"mll")
k1

[12, 34, 56, 'ml', 78, 'mll', 'mll', 'mll']

#### 3)copy

In [28]:
a1=[21,43,56,87,"python"]

In [30]:
a1_copy=a1

In [31]:
a1_copy

[21, 43, 56, 87, 'python']

In [32]:
a1.append("ml")

In [33]:
#here added ml to the list
a1

[21, 43, 56, 87, 'python', 'ml']

In [35]:
#in a1_copy ml is getting added automatically if we use "=" operator
a1_copy

[21, 43, 56, 87, 'python', 'ml']

In [36]:
a1.copy()

[21, 43, 56, 87, 'python', 'ml']

In [37]:
a1[4]="hello"

In [38]:
a1

[21, 43, 56, 87, 'hello', 'ml']

In [40]:
a1_copy=a1.copy()

In [41]:
a1_copy

[21, 43, 56, 87, 'hello', 'ml']

In [42]:
a1_copy[3]=1

In [43]:
#here 1 is added to the list
a1_copy

[21, 43, 56, 1, 'hello', 'ml']

In [45]:
#but in the original list nothing is changing while using copy built in function
a1.copy()

[21, 43, 56, 87, 'hello', 'ml']

#### 4)extend

In [46]:
k1

[12, 34, 56, 'ml', 78, 'Python']

In [47]:
a1

[21, 43, 56, 87, 'hello', 'ml']

In [48]:
k1.extend(a1)

In [50]:
#concatinating a1 at the end
k1

[12, 34, 56, 'ml', 78, 'Python', 21, 43, 56, 87, 'hello', 'ml']

#### 5)pop

In [51]:
a1

[21, 43, 56, 87, 'hello', 'ml']

In [52]:
a1.pop(2)

56

In [53]:
#it removes the required element
a1

[21, 43, 87, 'hello', 'ml']

### Task-3.1
go through other inbuilt methods like remove(),count(),clear(),sort(),reverse()

#### 6).remove(value)

In [54]:
a1

[21, 43, 87, 'hello', 'ml']

In [56]:
a1.remove(21)

In [58]:
#it removes the first occurence of the value
a1

[43, 87, 'hello', 'ml']

#### 7)count(value)

In [61]:
z1=[21,34,56,34,78,"hello",True,False,21]
z1.count(21)

2

In [63]:
z1.count(34)

2

#### 8).clear()

In [65]:
z1.clear()

In [67]:
#it clears all the elements from list
z1

[]

In [74]:
q1=[11,52,5,7432,4,8,9,4,6,3,21,3]

In [75]:
q1.sort()

In [76]:
#sorting in increasing oreder
q1

[3, 3, 4, 4, 5, 6, 8, 9, 11, 21, 52, 7432]

#### 9).reverse()

In [77]:
q1.reverse()

In [78]:
#sorting in decreasing oreder
q1

[7432, 52, 21, 11, 9, 8, 6, 5, 4, 4, 3, 3]

#### Task 3.2

create a list of lenght = 10 and access 5th to 8th data.

In [79]:
a1=["home",12,89.78,"msd",45,True,"hello",1.11,"ask",False]
print(a1[5])
print(a1[8])

True
ask

#### Task 3.3

In [1]:
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
#output
#[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [6]:
l1[2][2]=[50,60,70]
l1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

#### Task 3.4
add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
#output
[1,2,[3,4,5,6,[7,8]],9]

In [98]:
l2=[1,2,[3,4,5,6],9]

In [99]:
l2.insert(3,[7,8])

In [100]:
l2

[1, 2, [3, 4, 5, 6], [7, 8], 9]