In [1]:
s1={1,2,3,"name",True,False,"class",45,89,12,2,1,3,34}
type(s1)

set

In [2]:
s1

{1, 12, 2, 3, 34, 45, 89, False, 'class', 'name'}

In [4]:
len(s1)

10

In [6]:
set1={}
type(set1)

dict

In [10]:
set1=set()
type(set1)

set

In [12]:
s1={1,2,3,4,5,6,9}
s1.add(10)
print(s1)

{1, 2, 3, 4, 5, 6, 9, 10}

In [13]:
s1.remove(2)
s1

{1, 3, 4, 5, 6, 9, 10}

In [14]:
s1.update([45,34,21,76])
s1

{1, 3, 4, 5, 6, 9, 10, 21, 34, 45, 76}

In [15]:
s1.pop()

1

In [16]:
s1.pop()

34

In [19]:
s2={21,43,56,87}
s3=s1.union(s2)

In [20]:
s3

{3, 4, 5, 6, 9, 10, 21, 43, 45, 56, 76, 87}

In [21]:
s4=s1.intersection(s2)

In [22]:
s4

{21}

### Task7 - go through other inbuilt methods like

1) difference() 2) symmetric_difference()

In [24]:
s5={1,2,3,4,5,6,7,8,9}
s6={23,45,56,78,90,1,2,3,4}
s6.difference(s5)
#Returns a set containing the difference between two or more sets

{23, 45, 56, 78, 90}

In [30]:
s5={1,2,3,4,5,6,7,8,9}
s6={23,45,56,78,90,1,2,3,4}
s6.symmetric_difference(s5)
#Return a set that contains all items from both sets, except items that are present in both sets

{5, 6, 7, 8, 9, 23, 45, 56, 78, 90}