In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('students_placement.csv')
df

     cgpa   iq  profile_score  placed
0    5.97  106             61       0
1    6.83  113             77       0
2    6.60  110             61       0
3    5.54  113             68       0
4    6.84  102             67       0
..    ...  ...            ...     ...
295  6.44  107             54       0
296  6.09  108             52       0
297  7.68  101             70       1
298  7.00   90             28       1
299  4.79  118             70       0

[300 rows x 4 columns]

In [6]:
X=df.drop('placed',axis=1)
X.head()

   cgpa   iq  profile_score
0  5.97  106             61
1  6.83  113             77
2  6.60  110             61
3  5.54  113             68
4  6.84  102             67

In [7]:
Y=df['placed']
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: placed, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler

In [11]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [13]:
print(X_train.shape)
print(X_test.shape)

(225, 3)
(75, 3)

In [14]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [15]:
lr.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [16]:
y_pred=lr.predict(X_test)

In [17]:
y_pred

array([0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1], dtype=int64)

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,y_pred)

0.92

In [20]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train,Y_train)

y_pred = knn.predict(X_test)

accuracy_score(Y_test,y_pred)

0.92

In [21]:
import pickle

In [22]:
pickle.dump(knn,open('model.pkl','wb'))